* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ALICEBLUE;
    font-family: sans-serif;
    font-weight: 100;
}

h1, h2 {
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 15px 0;
}

h1 {
    text-align: center;
}


p {
    line-height: 23px;
    margin-bottom: 15px;
}

.column p {
    font-size: .8em;
}

.red-color {
    color: red;
}


.bold {
    font-weight: 600;
}


.hero {
    border-bottom: 1px solid rgb(187, 187, 187);
    padding: 100px 0;
    margin-bottom: 40px;
    position: relative;
}

.column {
    width: 49%;
    padding: 0 10px;
    display: inline-block;
}

.menu {
    position: fixed;
    top: 10px;
    right: 10px;
}

.arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.imagen-langostinos {
    width: 200px;
}